body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin: 0;
}

.content {
  height: 95%;
  width: 95%;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.boardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  height: 80%;
  width: 80%;
  padding: 5%;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

.turnInfo {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.playerInfo {
  font-size: 2rem;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 3px solid #006800;
  border-radius: 10px;
}

.box {
  border: 1px solid #006800;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.adjacent {
  background-color: gray;
  user-select: none;
}

.unhit:hover {
  background-color: #006800;
}

.missed {
  background-color: #0000ff;
}

.hit {
  background-color: #ff0000;
  user-select: none;
}
