body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin: 0;
}

.content {
  height: 95%;
  width: 95%;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.boardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  height: 90%;
  width: 90%;
  padding: 0px 5% 0px 5%;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

.turnInfo {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.turnHidden {
  opacity: 0;
  pointer-events: none;
}

.turnShown {
  opacity: 1;
  pointer-events: all;
  color: #ffffff;
}

.playerInfo {
  font-size: 2rem;
  margin-top: 0;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 5px solid black;
  border-radius: 10px;
}

.box {
  border: 1px solid black;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.adjacent {
  background-color: gray;
  user-select: none;
}

.visible {
  background-color: #006800;
  user-select: none;
}

.unhit:hover {
  background-color: #006800;
}

.disabled {
  pointer-events: none;
}

.missed {
  background-color: #0000ff;
}

.hit {
  background-color: #ff0000;
  user-select: none;
}

.buttonDiv {
  width: 100%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 0 2%;
  font-size: 1.5rem;
}

.blocker {
  width: 100%;
  height: 100%;
}
